body {
  margin: 0px;
  padding: 0px;
  background-color: #14213d;
}

a {
  text-decoration: none;
  font-size: 36px;
  color: white;
}
.navbar {
  animation-name: navbar;
  width: fit-content;
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0px;
}

.navbar div {
  position: relative;
  text-align: center;
  width: 150px;
  top: 35%;
  border: 1px solid white;
  background-color: #14213d;
  box-shadow: inset 0 0 0 0 white;
  transition: ease-out 0.3s;
  margin-bottom: 10px;
  border-radius: 5px;
}

.navbar div:hover {
  box-shadow: inset 150px 0 0 0 white;
}
#link:hover {
    color: #14213d;
  }
.ticboard {
  margin: 0 auto;
}
.ticrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticrow div {

  text-align: center;
}

@keyframes navbar {
}
